.background{
    background-image: url(../media/homepage.001.jpg); /*background image*/;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

/*****************************************one and done pieces of code**************************************************/
.header{
    text-align: center;
}

.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5vh;
    text-decoration: none;
    text-align: center;
    border: 3px solid lightgreen;
    font-style: italic;
}

a{
    text-decoration: none;
    color: lightseagreen;
}
a{
    color: black;
}

body{
    height:200vh;
}

/***************************************topic-settings for biology grid************************************************/

.biology{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height:150vh;
    grid-template-areas: "sidebar header";
    gap:10px ;
    margin-top: 40px;
}

.one-one{
    grid-area: sidebar;
    width: 25vw;
    background-color: lightseagreen;
}

.two-two{
    grid-area: header;
    width: 75vw;
    background-color: lightgray;
}

.circulation{
    width: 73vw;
    height: 100vh;
}