.background{
    background-image: url(../media/homepage.001.jpg); /*background image*/;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

/*****************************************one and done pieces of code**************************************************/
.header{
    text-align: center;
}

.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5vh;
    text-decoration: none;
    text-align: center;
    border: 3px solid lightgreen;
    font-style: italic;
}

a{
    text-decoration: none;
    color: lightseagreen;
}
a{
    color: black;
}

body{
    height:200vh;
}

/***************************************topic-settings for biology grid************************************************/

.notes{
    text-align: center;
}

.biology-notes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height:250vh;
    grid-template-areas:
            "header main main"
            "sidebar1 main main"
            "sidebar2 main main"
            "sidebar3 main main"
            "sidebar4 main main"
            "sidebar5 main main"
            "sidebar6 main main";
    gap:10px ;
    margin-top: 25px;
}

.welcome{
    grid-area: header;
    height: 40vh;
    background-color: pink;
}

.sidebar-notes{
    background-color: lightseagreen;
    grid-area: sidebar1;
    height: 40vh;
    box-shadow:  0 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.sidebar-videos{
    grid-area: sidebar2;
    height: 40vh;
    background-color: orange;

}

.sidebar-summary{
    grid-area: sidebar3;
    height: 40vh;
    background-color: red;
}

.classlink{
    grid-area: sidebar4;
    height: 40vh;
    background-color: blue;
}

.portal{
    grid-area: main ;
    background-color: lightgray;
}


