/*********************************************background picture settings**********************************************/
.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-color: #c5e4ed;
}

/********************************************generalized styles********************************************************/
.header{
    text-align: center;
}

.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 10vh;
    text-decoration: none;
    border: 3px solid #2930ba;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}

body{
    height:200vh;
}


















