/************this applies to any piece of code in the nav bar that applies to more than one item***********************/
.index, .about, .sign-up, .contact, .log-in{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
/****************************************************csec**************************************************************/
.csec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height:55vh;
    width: 99vw;
}
/*******************************************************cape***********************************************************/
.cape{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height:25vh;
    width: 99vw;
}
/****************************************************grid items********************************************************/

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    margin: 20px;
}
/****************************************************enrollment*********************************************************/

.CXC, .CAPE {
    margin-top: 100px;
    text-align: center;
}

.one:hover{
    background-color: red;
}

.two:hover{
    background-color: green;
}

.three:hover{
    background-color: purple;
}

.four:hover{
    background-color: pink;
}

.five:hover{
    background-color: blue;
}

.six:hover{
    background-color: gold;
}

.home:hover,
.sign-up:hover,
.aboutme:hover,
.contact:hover,
.log-in:hover{
    color: black;
}

.contactmelink:hover{
    color: black;
}