/*************styles for input, option, form-group, new, repeat, continue, private and submit classes******************/

input, option{
    border-radius: 4px;
    height: 30px;
    width: 240px;
    box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
    outline: none;
    border-color: #7db0fb;
    font-size: 16px;
}

.form-group {
    margin: 2rem;
}

.new, .repeat, .continue, .private{
    box-shadow: none;
}

.submit{
    font-size: 15px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin: 20px;
    background: lightseagreen;
}

.submit:hover{
     transform: scale(1.5);
}

form{
    margin: 2.5rem;
}

input{
    margin: 1.5rem;
}

#Form, #Gender{
    border-radius: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightseagreen;
    border: none;
}

#Form:hover,
#Gender:hover{
    background-color: blue;
    border: 2px solid lightseagreen;
}
/***********************************************heading styles for h3 and h4*******************************************/

h3{
    font-size: 30px;
    text-align: center;
}

h4{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 2rem;
}
