/*********************************************background picture settings**********************************************/
.background{
    background-image: url(../media/homepage.001.jpg); /*background image*/;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

/*****************************************one and done pieces of code**************************************************/
.header{
    text-align: center;
}

.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5vh;
    text-decoration: none;
    text-align: center;
    border: 3px solid lightgreen;
    font-style: italic;
}

a{
    text-decoration: none;
    color: lightseagreen;
}
a{
    color: black;
}

body{
    height:200vh;
}

/************this applies to any piece of code in the nav bar that applies to more than one item***********************/
.index, .about, .sign-up, .contact, .portal{
    display: flex;
    justify-content: center;
}

/****************************************************csec**************************************************************/
.csec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height:85vh;
    width: 99vw;
}

/*******************************************************cape***********************************************************/
.cape{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height:45vh;
    width: 99vw;
}

/****************************************************grid items********************************************************/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}

/****************************************************enrollment*********************************************************/
.enroll{
    display: flex;
    justify-content: center;
    font-size:45px;
    font-weight: bold;
}

/***************************************topic-settings for biology grid************************************************/

.biology{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height:300vh;
    grid-template-areas: "sidebar header";
    gap:10px ;
}

.one-one{
    grid-area: sidebar;
    width: 25vw;
    background-color: red;
}

.two-two{
    grid-area: header;
    width: 75vw;
    background-color: blue;
}























